.wrapper{
    position: relative;
    top: 30px;
}

.register-body{
    height: 100%;
    width: 100%;
    // background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form{
    background-color: #fff;
    padding: 20px;
    width: 90%;
    border-radius: 5px;
}
